<nav>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['home']"
         [routerLinkActive]="['active']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['counter']"
         [routerLinkActive]="['active']">Redux Counter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['settings']"
         [routerLinkActive]="['active']">Your Settings</a>
    </li>
  </ul>
</nav>
